




/*----------Nav bar----------*/
/* Add a black background color to the top navigation */
.navBackground {
    background-color: white;
    box-shadow: 0px 10px 10px -10px rgba(21,20,20,0.25);
}

/* Style the links inside the navigation bar */
.navLinkStyle {
    color: #f2f2f2;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
    display: inline;
}

.navImgPlacement{
    margin-left:70px;
}

.navDropbtn_ {
    border: none;
    cursor: pointer;
}

.navDropdown {
    position: relative;
    display: inline-block;
}

.navDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navDropdown-content a:hover {background-color: #f1f1f1}

.navDropdown:hover .navDropdown-content {
    display: block;
}

.navDropdown:hover .navDropbtn_ {
    background-color: #3e8e41;
}

.navImg{
    height: 30px;
    width:30px;
    border-radius: 100%;
}
