



.invalidChoice{
    color: #b73d20;
}

/*----------Nav bar----------*/
/* Add a black background color to the top navigation */
.navBackground {
    background-color: #2a3842;
    box-shadow: 0px 10px 10px -10px rgba(21,20,20,0.25);
}

/* Style the links inside the navigation bar */
.navLinkStyle {
    color: #2d3842 !important;
    padding: 20px 12px;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: bold;
    display: inline;
}

.navDropdown-content a:hover {
    background-color: #e2e2e2;
    border-radius: 2px;
}

.navLinkStyle:hover{
    color: #2d3842 !important;
}

.navImgPlacement{
    margin-left:70px;
}

.navDropbtn_ {
    border: none;
    cursor: pointer;
}

.navDropdown {
    position: relative;
    display: inline-block;
}

.navDropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
}

.navDropdown-content a {
    color: #2d3842;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.navDropdown:hover .navDropdown-content {
    display: block;
}

.navDropdown:hover .navDropbtn_ {
    background-color: #3e8e41;
}

.navImg{
    height: 40px;
    width:40px;
    border-radius: 100%;
}





/*----------Login site----------*/


.logInShadow{
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
}

.loginContainer{
    margin-top:35px;
    border-radius: 25%;
}

.loginText{
    font-size:20px !important;
    padding-top: 0px !important;
}

.descriptionText{
    font-size: 16px !important;
}

.loginImageSize{
    width:390px;
    display: flex;
    height:100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 25px;
}

.loginPlannrImage{
    height: 155px !important;
    margin-bottom:20px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #18197a !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#card {
    height: 710px;
    border: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: 40px !important;
}

#card1 {
    height: 710px;
    border: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
}

.card1 {
    height: 650px;
    width: 60%;
    padding: 40px 30px 10px 30px;
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}

.card2 {
    height: 650px;
    width: 40%;
    border-top-left-radius: 40px;
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
}

.heading {
    margin-bottom: 50px !important
}

::placeholder {
    color: black !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.formFont{
    font-size:14px !important;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 20px
}

.btn-color {
    border-radius: 5px;
    color: #fff;
    /*background-image: linear-gradient(to right, #7c7c7c, #f5d035);*/
    background-color: #f5d035;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 25px
}

.btn-color:hover {
    color: #fff;
    /*background-image: linear-gradient(to right, #95c3f9, #f5d035);*/
    background-color: #ddb938;
}

.btn-white {
    border-radius: 50px;
    color: #03b8f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #03b8f9 !important
}

.btn-white:hover {
    color: #fff;
    background: #03b8f9;
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}





/*----------LandingPage----------*/


.landingPageHeader{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-size:35px;
    color: #eeeeee;
    background-color: #0f1a22;
    padding: 20px;
    margin-bottom:0!important;
}
.LandingPageBackground{
    background-color: white;
}

.CreateActivityBox{
    width: 100%;
    height: auto;
}

.createActivityContent{
    font-size: 200px;
    font-weight: lighter;
    color: #283037;
    height:400px;
    text-align: center;
    margin-top:60px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border: 1px solid black;
    background: #dfdfdf;
}

.createActivityContent:hover{
    background: rgba(15, 26, 34, 0.3);
}

.CreateActivitypopUpBox{
    display: block;
    position: fixed !important;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    right:0;
    width: 100% !important; /* Full width */
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.CreateActivityPopUpBoxContainer{
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
    border: 1px solid #888;
    height: 880px;
    border-radius: 2px;
    background-color: #fefefe;
    margin: auto;
    padding: 60px !important;
    width: 80%;
    position: relative;
}

.closePlus {
    color: #aaaaaa;
    position: absolute;
    top:20px;
    right:40px;
    font-size: 28px;
    font-weight: bold;
}

.closePlus:hover,
.closePlus:focus{
    color: #111a22;
    text-decoration: none;
    cursor: pointer;
}

.CreateActivityPopUpHeader{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    text-align: center;
}

.CreateActivityPopUpHeader h1{
    font-size:30px;
    color: #111a22;
    font-family: 'Montserrat', sans-serif;
}

.createActivityPopUpInput{
    text-align: left;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
    border: 1px solid #aaa!important;
}

.createActivityPopUpInputHeader{
    font-size:20px !important;
}

.createActivityPopUpInputArea{
    height: 300px;
}

.createActivityBtn{
    border-radius: 2px;
    color:#fefefe;
    background-color:#111a22;
    cursor: pointer;
    padding: 10px;
    font-size:17px;
    font-family: 'Montserrat', sans-serif;
    margin-top:60px;
    width:100%;

}

.createActivityBtnPlacement{
    margin-left: auto;
    margin-right: auto;
}



.imagePlus{
    height:200px;
}

.activityBox{
    height: 419px;
    text-align: center;
    margin-left: 15px !important;
    margin-right:15px !important;
    margin-top:60px !important;
    font-family: 'Montserrat', sans-serif;
}

.activityPhoto{
    height: 100%;
    width: 100%;
}

.activityTitle{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(15, 26, 34, 0.9);
    width: 100%;
    height: auto;
    padding: 15px;
}

.SeDescription{
    font-size: 15px !important;
}

.activityContent{
    color: white;
    font-size: 15px;
    bottom:0;
    background: rgba(15, 26, 34, 0.8); /* Black background with 0.7 opacity */
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top:175px;
    text-align: left;
}


.seeDescription{
    font-weight: bold;
}

.activateActivityDropdown{
    font-weight: bold;
}

.activateActivityDropdown:hover{
    color: #efd14b;
    position: relative;
    z-index: -1;
}

/*.activitydropdown{
    display: block;
    position: relative;
    z-index: 1;
    background-color:white;
    border: 2px solid black;
    margin-left: 15px;
    margin-right: 15px;
}*/

.activitydropdown{
    margin-bottom: 15px;
    width: 95%;
    border: 1px solid #aaa;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: 700;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    background: transparent !important;
}


.activitydropdown:hover {
    background-color: #2d3842;
    color: white;
}

.activitydropdown:focus {
    box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.3);
    outline: none;
}




/*----------ToolTip/ErrorMessage----------*/

.tooltipBox {
    position: relative;
    display: inline-block;
}

.tooltipBox .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #7fa7d4;
    border: 1px solid #83acdb;
    text-align: center;
    padding-top: 10px;
    padding-bottom:20px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 3px;
    width: 300px;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 2;
}

.tooltipBox:hover  .tooltipText {
    visibility: visible;
}

.tooltipBox:hover  .tooltipText .tooltipLeft {
    visibility: visible;
}
.tooltipLeft{
    top: -5px ! important;
    right: 105% ! important;
}







.tempBorderRed{
    border: 2px solid #ff1b0c;
}

.tempBorderBlue{
    border: 2px solid #3f8de9;
}

.tempBorderGreen{
    border: 2px solid #7fa32f;
}

.tempBorderpurple{
    border: 2px solid #7d56e9;
}

.tempBorderYellow{
    border: 2px solid #ffdb2d;
}

.tempBorderOrange{
    border: 2px solid #f68316;
}

.tempBorderPink{
    border: 2px solid #ff45f5;
}