<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Quicksand&display=swap" rel="stylesheet">

    <!-- Icon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="LandingPageBackground">
    <div th:if="${loggedIn}">
        <div th:insert="components :: navigationBarLoggedIn"></div>
    </div>

    <div th:unless="${loggedIn}">
        <div th:insert="components :: navigationBar"></div>
    </div>

    <h1 class="landingPageHeader">Adventure Alley</h1>

    <div class="container marginTop">
        <div class="row">

            <div class="col-4" th:each = "activityVTO: ${activityVTOList}">

                <div class="activityBox" th:style="'background-image:url(' + ${activityVTO.getActivity().getPhotoURL()} + '); background-size: auto;'">

                    <p class="activityTitle" th:text="${activityVTO.getActivity().getTitle()}"></p>

                    <div class="activityContent">
                        <span th:text="${activityVTO.getPriceString()}"></span>
                        <br>
                        <span>Minimum alder: </span><span th:text="${activityVTO.getActivity().getMinAge()}"></span>
                        <br>
                        <span th:text="${activityVTO.getDurationString()}"></span>
                        <br>
                        <br>
                        <span class="activitydropdown" > Se Eventkalender</span>
                        <br>
                        <span class="activitydropdown"> Se Beskrivelse</span>

                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
</html>