<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">

    <!-- Icon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div th:if="${loggedIn}">
        <div th:insert="components :: navigationBarLoggedIn"></div>
    </div>

    <div th:unless="${loggedIn}">
        <div th:insert="components :: navigationBar"></div>
    </div>

    <H1>Adventure Alley - Landing page</H1>


    <div class="container tempBorderBlue">

        <div class="row tempBorderRed" th:each = "activity: ${activityList}">
            <div class="col-2">
                <div th:text="${activity.getTitle()}"></div>
            </div>
            <div class="col-2">
                <div th:text="${activity.getTitle()}"></div>
            </div>
        </div>

    </div>-->




</body>
</html>