<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>

    <!-- stylesheet.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <!-- eventJSsheet.js -->
    <script src="/js/eventJSsheet.js" ></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Quicksand&display=swap" rel="stylesheet">

    <!-- Icon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="LandingPageBackground">
    <div th:if="${loggedIn}">
        <div th:insert="components :: navigationBarLoggedIn"></div>
    </div>

    <div th:unless="${loggedIn}">
        <div th:insert="components :: navigationBar"></div>
    </div>

    <h1 class="landingPageHeader">Adventure Alley</h1>


    <div th:if="${createActivity}" class="CreateActivitypopUpBox" id="activityPopUp">
        <div class="container CreateActivityPopUpBoxContainer">

            <div class="row">
                <a href="/?newActivity=false" class="closePlus" id="ClosePlus">&times;</a>
            </div>

            <div class="row">
                <div class="CreateActivityPopUpHeader">
                    <h1 >Opret Aktivitet</h1>
                </div>
            </div>

            <form name="newActivity" th:action="@{/createActivity}" method="post">
                <div class="row">

                    <div class="col-5">
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Titel</span>
                            <label for="title"></label>
                            <input type="text" name="title" id="title" th:value="${defaultActivityVTO.getActivity().getTitle()}" class="createActivityPopUpInput" required minlength="8">
                            <span class="error"></span>
                        </div>
                        <br>
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Pris</span>
                            <label for="price"></label>
                            <input type="text" name="price" id="price" th:value="${defaultActivityVTO.getPriceString()}" class="createActivityPopUpInput">
                        </div>
                        <br>
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Maks antal deltagere</span>
                            <label for="maxParticipants"></label>
                            <input type="text" name="maxParticipants" id="maxParticipants" th:value="${defaultActivityVTO.getActivity().maxParticipants}" class="createActivityPopUpInput">
                        </div>
                        <br>
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Minimums alder</span>
                            <label for="minAge"></label>
                            <input type="text" name="minAge" id="minAge" th:value="${defaultActivityVTO.getActivity().getMinAge()}" class="createActivityPopUpInput">
                        </div>
                        <br>
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Varighed</span>
                            <label for="duration"></label>
                            <input type="text" name="duration" id="duration" th:value="${defaultActivityVTO.getDurationString()}" class="createActivityPopUpInput">
                        </div>
                        <br>
                        <div class ="row">
                            <span class="createActivityPopUpInputHeader">Billede</span>
                            <label for="photoURL"></label>
                            <input type="text" name="photoURL" id="photoURL" th:value="${defaultActivityVTO.getActivity().getPhotoURL()}" class="createActivityPopUpInput">
                        </div>
                    </div>

                    <div class=" offset-1 col-6">
                        <span class="createActivityPopUpInputHeader">Aktivitetsbeskrivelse</span>
                        <label for="description"></label>
                        <textarea type="text" name="description" id="description" class="createActivityPopUpInputArea createActivityPopUpInput" th:placeholder="${defaultActivityVTO.getActivity().getDescription()}"></textarea>
                    </div>
                </div>
                <div class ="row">
                    <div class="offset-4 col-4">
                        <button id="createActivityBtn" class="createActivityBtn">Opret Aktivitet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-4" th:each = "activityVTO: ${activityVTOList}">

                <div class="activityBox" th:style="'background-image:url(' + ${activityVTO.getActivity().getPhotoURL()} + '); background-size: auto;'">

                    <div class="activityTitle">
                        <span th:text="${activityVTO.getActivity().getTitle()}"></span><br>
                        <span class="SeDescription seeDescription">Se Beskrivelse</span>
                    </div>

                    <div class="activityContent">
                        <span th:text="${activityVTO.getPriceString()}"></span>
                        <br>
                        <span>Minimum alder: </span><span th:text="${activityVTO.getActivity().getMinAge()}"></span>
                        <br>
                        <span th:text="${activityVTO.getDurationString()}"></span>
                        <br>
                        <br>
                        <select class="activitydropdown"
                                th:attr="onclick=|fetchEvents(${activityVTO.getActivity().getId()})|,
                                id=|${'activity_' + activityVTO.getActivity().getId()}|">

                            <option value="">Vælg dato</option>

                        </select>
                    </div>
                </div>

                <!--
                https://stackoverflow.com/questions/32650536/using-thymeleaf-variable-in-onclick-attribute/52960571#52960571
                th:attr="onclick=|myJSMethod('${myParameter}')|"
                -->
            </div>


            <div class=" col-4 CreateActivityBox" id="createActivityBox" th:if="${loggedIn == true && createActivity == false}">
                <div class ="createActivityContent">
                   <a href="/?createActivity=true" class="newActivityLinkStyle">
                        <img src="../images/+1.png" class="imagePlus"/>
                    </a>
                </div>
            </div>


         <div class="col-4 CreateActivityBox" th:if="${loggedIn == true && newActivity == true}">
              <div></div>
          </div>

        </div>
    </div>
</body>
</html>